*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    box-sizing: border-box; /* Para que no ocupe espacio */
}
body{
    background-image:url(../img/repeated-square.png);
}
a{
    text-decoration: none;
}
.menu{
    width: 100%;
    border-radius: 5%;
    border-collapse: collapse;
}

td, th{
    text-align: center;
    padding: 8px;
    font-size: 18px;
}
.center{
    text-align: center;
}
.container2{
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   display: grid;

   grid-gap: 30px;
}
/* fin espaciador del contaco */

.container1{
    top: 8rem;
    padding: 8rem;
    margin: 3rem;
    text-align: center;
    background-color: rgb(236, 149, 218);
    display: flex;
    justify-content: center;
}
table{
    background-color: ivory;
    border-collapse: collapse;
    width: 100%;
    border-radius: 2px;
}
i{
    font-size: 18px;
}
.Consulta{
    width: 80%;
    height: 100px;
    text-align: center;

}
.Cont{
    width: 90%;
    background-color: ivory;
    display: block;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.85);

}

/* botones */
.link{
    position: relative;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;    
    margin: 0 auto 12px;
    z-index: 0;
    transition: all 450ms ease;
    cursor: pointer;
}
.link-1::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: rgb(228, 140, 216);
    transition: width .3s;
}
.link-1:hover::after{
    width: 100%;
    transition: width .3s;
}
.link-2::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: rgb(228, 140, 216);
    transition: width .3s;
}
.link-2:hover::after{
    width: 100%;
    transition: width .3s;
}
.link-3::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: rgb(228, 140, 216);
    transition: width .3s;
}
.link-3:hover::after{
    width: 100%;
    transition: width .3s;
}
.link-4::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: rgb(228, 140, 216);
    transition: width .3s;
}
.link-4:hover::after{
    width: 100%;
    transition: width .3s;
}
/* fin botones */